doctype html
html
  include /../../static/assets/lib/bootstrap.ldui/main/index.pug
  head
    +css("/assets/lib/bootstrap/main/css/bootstrap.min.css")
    +css("/assets/lib/bootstrap.ldui/main/bootstrap.ldui.min.css")
  body
    h2 hello
    svg
      circle(cx="50",cy="50",r="20",fill="#f00")
    +script("/assets/lib/@loadingio/ldquery/main/ldq.min.js")
    +script("/assets/lib/@loadingio/cubic/main/cubic.min.js")
    +script("/assets/lib/ldcolor/main/ldcolor.min.js")
    +script("/assets/lib/transition.js/dev/transition.js")
    +script("/js/index.js")
